@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    40 Road Street<br />
    Bretton, Peterborough, PE1 5QS<br />
    <abbr title="Phone">P:</abbr>
    01733456793
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@feghsolution.com">Support@feghsolution.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@feghsolution.com">Marketing@feghsolution.com</a>
</address>