@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FEGHSolutions Film Review</h1>
    <p class="lead">Welcome to FEGHSolutions Review Films, one of the best place to get your film review</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Films</h2>
        <p>
            This takes you to a list of all of the @Html.ActionLink("Films","Index","Films").
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Actors</h2>
        <p>This takes you to a list of @Html.ActionLink("Actors", "Index", "Actors")</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reviews</h2>
        <p>This takes you to a list of @Html.ActionLink("Reviews", "Index", "Reviews")</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>