@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FEGHSolutions Film Review</h1>
    <p class="lead">Welcome to FEGHSolutions Review Films, one of the best place to get your film review</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Films</h2>
        <p>
            This takes you to a list of all of the @Html.ActionLink("Films", "Index", "Films").
        </p>
        <p></p>
    </div>
    <div class="col-md-3">
        <h2>Actors</h2>
        <p>This takes you to a list of @Html.ActionLink("Actors", "Index", "Actors")</p>
    </div>
    <div class="col-md-3">
        <h2>Reviews</h2>
        <p>This takes you to a list of @Html.ActionLink("Reviews", "Index", "Reviews")</p>
    </div>
    <div class="col-md-3">
        <h2>Directors</h2>
        <p>This takes you to a list of @Html.ActionLink("Directors", "Index", "Directors")</p>
    </div>
</div>
